output
*.vmt
*.vtf
*.mp3

addons/sourcemod/scripting/include/chat-processor.inc
addons/sourcemod/scripting/include/colorvariables.inc
addons/sourcemod/scripting/include/morecolors.inc
addons/sourcemod/scripting/include/smlib_arrays.inc
addons/sourcemod/scripting/chat-processor.sp

addons/sourcemod/configs/chat_processor.cfg
addons/sourcemod/configs/maplists.cfg